<% provide(:title , @recipe.name.capitalize) %>
<div class="large-6 small-12 large-centered columns">
	<h3 class="recipe_title">
	 	<%= link_to @recipe.name.capitalize, @recipe %> 
	 	- by <a href= <%= user_path(@recipe.user) %> > <%= @recipe.user.email %> </a>
	</h3>
	<div class="small-centered columns small-5 recipe-img large-4 large-centered">
	 	<%= image_tag @recipe.picture.url %>
 	</div>
	<div class="button-container large-4 small-5 large-centered small-centered columns">
	 		<% if @recipe.user == current_user %>
	 		<%= link_to "edit" , edit_recipe_path(@recipe), :class => "button tiny radius"  %>	
	 	  <%= link_to "delete" , @recipe , method: :delete , data: { confirm: "Are you sure" }, :class => "button tiny radius"  %>	
	 		<% end %>
	</div>
	<div class="content_holder">
	<p class="content bottom_border"><b>Description:</b> </br> <%= @recipe.description %></p> </br>
	<p class="content bottom_border"><b>Ingredients:</b> </br> <%= @recipe.ingredients %></p> </br>
	<p class="content"><b>Instructions:</b> </br> <%= @recipe.instructions %></p>
	</div>
</div>