<li class="recipe">
 <h3>
 	<%= link_to recipe.name.capitalize, recipe %> 
 	- by <a href= <%= user_path(recipe.user) %> > <%= recipe.user.email %> </a>
 	<% if user_signed_in? %>
 		<%= form_for(@meal) do |f| %>
 			<%= f.hidden_field :recipe_id, :value => recipe.id %>
 			<%= f.label "Date:" %>
 			<%= f.select(:for_date) do %>
			  <% @dates.each do |date| -%>
			    <%= content_tag(:option, date.day , value: date) %>
			  <% end %>
			<% end %>
 			<%= f.submit "Add Meal" %>
 		<% end %>
 	<% end %>
 </h3>
</li>